.Message {
   padding: 0.2em;  
   max-width: 65%;
   color: grey;
   font-size: 1.25em;
   margin-bottom: 5px;
   border: 2px solid rgb(40, 44, 67);
   border-radius: 10px;
 }
 .Message p{
   margin-top: 10px;
   margin-bottom: 10px;
 }
 span{
  color: grey;
  font-size: 0.8rem;
  margin-bottom: 10px;
 }

 .sender {
  padding-inline: 10px;
   background-color: #add8e6; /* Light blue background */
   align-self: flex-end; /* Align to the right */
   color: black; /* Text color */
 }
 .sender-time {
   align-self: flex-end; /* Align to the right */
   color: grey; /* Text color */
 }
 